<a href="https://colab.research.google.com/github/PRIYUPATEL80/IT-1080/blob/main/Copy_of_Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXERCISE 3-1, CHAPTER 3 - PRIYANKA PATEL

In [ ]:
import pandas as pd

Get the Data

In [ ]:
mortality_url = "https://data.cdc.gov/api/views/v6ab-adf5/rows.csv?accessType=DOWNLOAD"
mortality_data = pd.read_csv(mortality_url)

In [ ]:
mortality_data.values

array([[1900, '1-4 Years', 1983.8],
       [1901, '1-4 Years', 1695.0],
       [1902, '1-4 Years', 1655.7],
       ...,
       [2016, '15-19 Years', 51.2],
       [2017, '15-19 Years', 51.5],
       [2018, '15-19 Years', 49.2]], dtype=object)

In [ ]:
mortality_data = pd.read_pickle('mortality_data.pkl')
mortality_data.head()

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.8
1  1901  1-4 Years      1695.0
2  1902  1-4 Years      1655.7
3  1903  1-4 Years      1542.1
4  1904  1-4 Years      1591.5

In [ ]:
"mortality_data = pd.read_pickle('mortality_prepped.pkl')\n",
"mortality_data.head()"

'mortality_data.head()'

In [ ]:
"mortality_wide = pd.read_pickle('mortality_wide.pkl')\n",
"mortality_wide.head()"

'mortality_wide.head()'

Visualize the Data

In [ ]:
"mortality_data.query('AgeGroup == \"01-04 Years\"').plot.scatter(x='Year', y='DeathRate')"

'mortality_data.query(\'AgeGroup == "01-04 Years"\').plot.scatter(x=\'Year\', y=\'DeathRate\')'

In [ ]:
 "mortality_wide.plot()"

'mortality_wide.plot()'