<a href="https://colab.research.google.com/github/PRIYUPATEL80/IT-1080/blob/main/IT%201080%20-%20Priyanka%20Patel%20-%20Exercise%206-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IT 1080 - Chapter 6 - Exercise 6-1 - Priyanka Patel - Clean the Poolling Data

Read the Data

In [12]:
import pandas as pd

In [13]:
polls_url = (\
'http://projects.fivethirtyeight.com/general-model/president_general_polls_2016.csv')

In [14]:
from urllib import request
request.urlretrieve(polls_url, filename='president_polls_2016.csv')

('president_polls_2016.csv', <http.client.HTTPMessage at 0x7efea92c9820>)

In [15]:
polls = pd.read_csv('president_polls_2016.csv')

Examine the Data

In [16]:
polls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12624 entries, 0 to 12623
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cycle             12624 non-null  int64
 1   branch            12624 non-null  object
 2   type              12624 non-null  object
 3   matchup           12624 non-null  object
 4   forecastdate      12624 non-null  object
 5   state             12624 non-null  object
 6   startdate         12624 non-null  object
 7   enddate           12624 non-null  object
 8   pollster          12624 non-null  object
 9   grade             11337 non-null  object
 10  samplesize        12621 non-null  float64
 11  population        12624 non-null  object
 12  poll_wt           12624 non-null  float64
 13  rawpoll_clinton   12624 non-null  float64
 14  rawpoll_trump     12624 non-null  float64
 15  rawpoll_johnson   8397 non-null   float64
 16  rawpoll_mcmullin  90 non-null     float64
 17  adjpoll_clinton   12624 non-null  float64
 18  adjpoll_trump     12624 non-null  float64
 19  adjpoll_johnson   8397 non-null   float64
 20  adjpoll_mcmullin  90 non-null     float64
 21  multiversions     36 non-null     object
 22  url               12621 non-null  object
 23  poll_id           12624 non-null  int64
 24  question_id       12624 non-null  int64
 25  createddate       12624 non-null  object
 26  timestamp         12624 non-null  object
dtypes: float64(10), int64(3), object(14)
memory usage: 2.6+ MB

In [17]:
polls.nunique()

cycle                   1
branch                  1
type                    3
matchup                 1
forecastdate            1
state                  57
startdate             352
enddate               345
pollster              196
grade                  10
samplesize           1766
population              4
poll_wt              4399
rawpoll_clinton      1312
rawpoll_trump        1385
rawpoll_johnson       584
rawpoll_mcmullin       16
adjpoll_clinton     12569
adjpoll_trump       12582
adjpoll_johnson      6629
adjpoll_mcmullin       57
multiversions           1
url                  1304
poll_id              4208
question_id          4208
createddate           222
timestamp               3
dtype: int64

Drop Columns and rows

In [18]:
polls = polls.query('type == \"now-cast\"')

In [19]:
polls.nunique()

cycle                  1
branch                 1
type                   1
matchup                1
forecastdate           1
state                 57
startdate            352
enddate              345
pollster             196
grade                 10
samplesize          1766
population             4
poll_wt             3894
rawpoll_clinton     1312
rawpoll_trump       1385
rawpoll_johnson      584
rawpoll_mcmullin      16
adjpoll_clinton     4202
adjpoll_trump       4199
adjpoll_johnson     2210
adjpoll_mcmullin      30
multiversions          1
url                 1304
poll_id             4208
question_id         4208
createddate          222
timestamp              1
dtype: int64

In [20]:
polls.drop(columns=['cycle','branch','type','matchup',\
                       'forecastdate','multiversions','timestamp'], inplace=True)

In [21]:
polls = polls.query('state != \"U.S.\"')

In [22]:
polls.nunique()

state                 56
startdate            245
enddate              241
pollster             176
grade                 10
samplesize          1308
population             4
poll_wt             2874
rawpoll_clinton     1162
rawpoll_trump       1217
rawpoll_johnson      578
rawpoll_mcmullin      16
adjpoll_clinton     3100
adjpoll_trump       3097
adjpoll_johnson     1672
adjpoll_mcmullin      30
url                  847
poll_id             3102
question_id         3102
createddate          185
dtype: int64

Rename Columns

In [23]:
# rename all the rawpoll_* columns\n",
polls_names_dict = {'rawpoll_clinton':'clinton_pct',
                    'rawpoll_trump':'trump_pct',
                    'rawpoll_johnson':'johnson_pct',
                    'rawpoll_mcmullin':'mcmullin_pct'}
polls.rename(columns=polls_names_dict, inplace=True)

Fix Data Types

In [24]:
polls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3102 entries, 4216 to 8415
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             3102 non-null   object
 1   startdate         3102 non-null   object
 2   enddate           3102 non-null   object
 3   pollster          3102 non-null   object
 4   grade             2961 non-null   object
 5   samplesize        3101 non-null   float64
 6   population        3102 non-null   object
 7   poll_wt           3102 non-null   float64
 8   clinton_pct       3102 non-null   float64
 9   trump_pct         3102 non-null   float64
 10  johnson_pct       2246 non-null   float64
 11  mcmullin_pct      30 non-null     float64
 12  adjpoll_clinton   3102 non-null   float64
 13  adjpoll_trump     3102 non-null   float64
 14  adjpoll_johnson   2246 non-null   float64
 15  adjpoll_mcmullin  30 non-null     float64
 16  url               3102 non-null   object
 17  poll_id           3102 non-null   int64
 18  question_id       3102 non-null   int64
 19  createddate       3102 non-null   object
dtypes: float64(10), int64(2), object(8)
memory usage: 508.9+ KB

In [25]:
# create a list of columns that should be datetimes
date_cols = ['startdate','enddate','createddate']

In [26]:
polls[date_cols] = polls[date_cols].apply(pd.to_datetime)

In [27]:
polls.state = polls.state.astype('category')
polls.population = polls.population.astype('category')

In [28]:
polls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3102 entries, 4216 to 8415
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             3102 non-null   category
 1   startdate         3102 non-null   datetime64[ns]
 2   enddate           3102 non-null   datetime64[ns]
 3   pollster          3102 non-null   object
 4   grade             2961 non-null   object
 5   samplesize        3101 non-null   float64
 6   population        3102 non-null   category
 7   poll_wt           3102 non-null   float64
 8   clinton_pct       3102 non-null   float64
 9   trump_pct         3102 non-null   float64
 10  johnson_pct       2246 non-null   float64
 11  mcmullin_pct      30 non-null     float64
 12  adjpoll_clinton   3102 non-null   float64
 13  adjpoll_trump     3102 non-null   float64
 14  adjpoll_johnson   2246 non-null   float64
 15  adjpoll_mcmullin  30 non-null     float64
 16  url               3102 non-null   object
 17  poll_id           3102 non-null   int64
 18  question_id       3102 non-null   int64
 19  createddate       3102 non-null   datetime64[ns]
dtypes: category(2), datetime64[ns](3), float64(10), int64(2), object(3)
memory usage: 469.2+ KB

In [29]:
polls

,state,startdate,enddate,pollster,grade,samplesize,population,poll_wt,clinton_pct,trump_pct,johnson_pct,mcmullin_pct,adjpoll_clinton,adjpoll_trump,adjpoll_johnson,adjpoll_mcmullin,url,poll_id,question_id,createddate
4216,New Mexico,2016-11-06,2016-11-06,Zia Poll,NaN,8439.0,lv,4.609492,46.00,44.00,6.0,NaN,45.04927,41.92541,7.657972,NaN,http://projects.fivethirtyeight.com.s3.amazona...,48614,76158,2016-11-07
4221,Virginia,2016-11-03,2016-11-04,Public Policy Polling,B+,1238.0,lv,3.923524,48.00,43.00,1.0,NaN,47.45700,42.35281,2.199139,NaN,http://www.publicpolicypolling.com/pdf/2015/PP...,48349,75743,2016-11-04
4223,Iowa,2016-11-01,2016-11-04,Selzer & Company,A+,800.0,lv,3.842234,39.00,46.00,6.0,NaN,39.36898,45.67372,5.995712,NaN,http://www.desmoinesregister.com/story/news/po...,48470,75957,2016-11-05
4225,Wisconsin,2016-10-26,2016-10-31,Marquette University,A,1255.0,lv,3.789957,46.00,40.00,4.0,NaN,46.10277,41.02478,2.856997,NaN,https://twitter.com/MULawPoll,48095,75264,2016-11-02
4226,North Carolina,2016-11-04,2016-11-06,Siena College,A,800.0,lv,3.774139,44.00,44.00,3.0,NaN,44.26048,44.98719,2.236248,NaN,http://www.nytimes.com/2016/11/08/upshot/trump...,48524,76066,2016-11-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8411,North Carolina,2016-08-26,2016-08-27,Public Policy Polling,B+,1177.0,lv,0.000000,45.00,44.00,NaN,NaN,44.40263,44.69241,NaN,NaN,http://nelpaction.org/wp-content/uploads/2016/...,45261,69614,2016-09-01
8412,North Carolina,2016-03-09,2016-03-10,SurveyUSA,A,1576.0,lv,0.000000,42.00,49.00,NaN,NaN,38.91546,48.83620,NaN,NaN,http://www.highpoint.edu/blog/2016/03/hpu-poll...,36589,65523,2016-05-05
8413,North Carolina,2016-07-31,2016-08-02,SurveyUSA,A,400.0,lv,0.000000,42.00,46.00,6.0,NaN,42.90049,48.56213,3.223028,NaN,https://www.nccivitas.org/2016/civitas-release...,44759,68485,2016-08-03
8414,Utah,2016-08-05,2016-08-25,Ipsos,A-,177.0,lv,0.000000,33.67,38.53,NaN,NaN,33.17161,40.04859,NaN,NaN,http://www.reuters.com/statesofthenation,45033,69086,2016-08-26
8415,Missouri,2016-10-21,2016-11-02,Ipsos,A-,405.0,lv,0.000000,41.09,47.19,NaN,NaN,39.82209,46.82893,NaN,NaN,http://www.reuters.com/statesofthenation/,48236,75537,2016-11-03